.main--picture {
  position: relative;
}
.main--picture__image {
  min-height: 330px;
  min-width: 480px;
  width: 60%;
  height: 30%;
  margin: 0 auto;
  border-radius: 10px;
  display: block;
  align-items: center;
}
.main--picture__text {
  font-size: 2.8rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
