@import "variables";

@media (min-width: $min-mobile) and (max-width: $max-mobile) {
  .main--picture__image {
    min-height: 300px;
    min-width: 100%;
  }
  .main--picture__text {
    left: 35%;
    font-size: 2.2rem;
    font-weight: bolder;
  }
  .places {
    display: block;
  }
  .places__box {
    margin-top: 20px;
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
  }
  .box__image {
    width: 100%;
    height: 200px;
  }
  .box__text {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
  }
}
@media (min-width: $min-tablet) and (max-width: $max-tablet) {
  .main--picture__image {
    min-height: 300px;
    min-width: 450px;
  }
  .main--picture__text {
    left: 43%;
  }
  .places {
    flex-wrap: wrap;
  }
  .places__box {
    width: 40%;
  }
}
