      @import "variables";

      @media (min-width: $min-mobile) and (max-width: $max-mobile) {
        .main--picture__image {
        min-height: 250px;
        min-width: 100%;
        }
        .main--picture__text {
          font-size: 2.2rem;
        }
      }
      