@import "variables";

.weather-card {
  background-color: #fff;
  border: 2px solid $main-color;
  border-radius: $border-radius;
  padding: $bigger-padding;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.2);
  max-width: 300px;
  text-wrap: nowrap;
  font-size: 1.25em;
}
